
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('regular.eot'); /* IE9 Compat Modes */
  src: url('regulard41dd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('regular.html') format('woff2'), /* Super Modern Browsers */
       url('regular.woff') format('woff'), /* Modern Browsers */
       url('regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('bold.eot'); /* IE9 Compat Modes */
  src: url('boldd41dd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('bold.html') format('woff2'), /* Super Modern Browsers */
       url('bold.woff') format('woff'), /* Modern Browsers */
       url('bold.ttf') format('truetype'); /* Safari, Android, iOS */
}